html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;

}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px black;
}

.grid16 {
  width: 31.25px;
  height: 31.25px;
  text-align: center;
  border: 1px solid black;
}

.grid64 {
  width: 7.8125px;
  height: 7.8125px;
  text-align: center;
  border: 1px solid black;
}
